{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <div class="max-w-lg mx-auto p-7 mt-10 shadow-lg rounded-lg bg-white relative">
        <h2 class="text-2xl flex items-center justify-center font-bold mb-5">Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy  }}
            <div class="flex items-center justify-center">
                <button type="submit" class="w-full md:w-1/2 bg-blue-500 text-white p-2 rounded-lg">Login</button>
            </div>
            <div>
                <p class="text-lg text-secondary mt-3">Not yet registered!! Create your account</p>
                <div class="absolute right-0 pb-5">
                    <a class="mr-3 bg-blue-500 px-2 py-1.5 rounded-lg text-white" href="{% url 'signup' %}">Sign Up!</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}