{% extends 'base.html' %}

{% block title %}{{ product.title }} | {% endblock %}

{% block content %}
    <div id="productapp" class="container mx-auto px-4 pt-20">
        <nav class="breadcrumb my-4">
            <ul class="flex space-x-2">
                <li><a href="{% url 'index' %}" class="text-grade">Home</a></li>
                {% if product.category.parent %}
                    <li><a href="{% url 'category_detail' product.category.parent.slug %}" class="text-grade">{{ product.category.parent.title }}</a></li>
                {% endif %}
                <li><a href="{% url 'category_detail' product.category.slug %}" class="text-grade">{{ product.category.title }}</a></li>
                <li class="text-gray-500 ">{{ product.title }}</li>
            </ul>
        </nav>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <img src="{{ product.image.url }}" class="w-full h-auto">
            </div>

            <div>
                <h1 class="text-3xl font-bold">{{ product.title }}</h1>
                <h2 class="text-xl font-semibold mt-2">KES {{ product.price }}, Stars: {% if product.get_rating == 0 %}No ratings yet{% else %}{{ product.get_rating|floatformat:1 }}{% endif %}</h2>

                {% if product.description %}
                    <p class="mt-4">{{ product.description }}</p>
                {% endif %}

                <h2 class="text-xl font-semibold mt-4">Add to cart</h2>

                {% if product.variants.all %}
                    <div class="mt-4">
                        <table class="table-auto w-full gap-3">
                            <tbody>
                                <tr>
                                    <td class="w-12">
                                        {% if product.thumbnail.url %}
                                            <img src="{{ product.thumbnail.url }}" class="w-12 h-12 object-cover mb-3">
                                        {% endif %}
                                    </td>
                                    <td>{{ product.title }}</td>
                                    <td>KES {{ product.price }}</td>

                                    <td class="mt-4 mb-4">
                                        {% if product.in_cart %}
                                            <p class="text-green-500">Already in cart!</p>
                                        {% else %}
                                            {% if product.num_available > 0 %}
                                                <button class="update-cart bg-grade hover:bg-red-400 text-white px-4 py-2 rounded text-xs w-full" data-product="{{ product.id }}" data-action="add">Add to cart</button>
                                            {% else %}
                                                <p class="text-red-500">The product is out of stock!</p>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>

                                {% for variant in product.variants.all %}
                                    <tr>
                                        <td class="w-12 mt-4">
                                            {% if variant.thumbnail.url %}
                                                <img src="{{ variant.thumbnail.url }}" class="w-12 h-12 object-cover rounded-lg">
                                            {% endif %}
                                        </td>
                                        <td class="my-3 ml-2">{{ variant.title }}</td>
                                        <td class="my-3 ml-2">KES {{ variant.price }}</td>

                                        <td>
                                            {% if variant.in_cart %}
                                                <p class="text-green-500">Already in cart!</p>
                                            {% else %}
                                                {% if variant.num_available > 0 %}
                                                    <button class="update-cart bg-grade hover:bg-red-400 text-white px-4 py-2 rounded text-xs w-full" data-product="{{ variant.id }}" data-action="add">Add to cart</button>
                                                {% else %}
                                                    <p class="text-red-500">The product is out of stock!</p>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    {% if product.in_cart %}
                       
                        <p class="text-green-500">Already in cart!</p>
                        
                    {% else %}
                        {% if product.num_available > 0 %}
                            <button class="update-cart bg-grade hover:bg-red-500 text-white px-4 py-2 rounded" data-product="{{ product.id }}" data-action="add">Add to cart</button>
                        {% else %}
                            <p class="text-red-500">The product is out of stock!</p>
                        {% endif %}
                    {% endif %}
                {% endif %}

                <div class="mt-4 p-4 bg-green-100 text-green-700 rounded" id="cartMessage" style="display: none;">
                    The product was added to the cart!
                </div>
            </div>
        </div>

        {% if product.images.all %}
            <hr class="my-4">
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                {% for image in product.images.all %}
                    <div class="cursor-pointer" onclick="changeMainImage('{{ image.image.url }}')">
                        <img src="{{ image.thumbnail.url }}" class="w-32 h-32 object-cover">
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <hr class="my-4 border-0 bg-gray-300 rounded-full h-px my-4"/>

        <h2 class="text-xl font-semibold">Related products</h2>

        {% with related_products as list_products %}
            {% include 'parts/products_list.html' %}
        {% endwith %}

        <hr class="my-4 border-0 bg-gray-300 rounded-full h-px my-4"/>

        <h2 class="text-xl font-semibold">Reviews</h2>

        <div class="reviews-wrapper">
            {% for review in product.reviews.all %}
                <div class="p-4 mb-4 bg-gray-100 rounded">
                    <p>
                        <strong>Date: </strong>{{ review.date_added|date:"Y-m-d" }},
                        <strong>Stars: </strong>{{ review.stars }}
                    </p>
                    <p>{{ review.content }}</p>
                </div>
            {% empty %}
                <div class="p-4 mb-4 bg-gray-100 rounded">
                    No reviews yet...
                </div>
            {% endfor %}
        </div>

        <div class="mt-4">
            {% if request.user.is_authenticated %}
                <form method="post" action=".">
                    {% csrf_token %}

                    <div class="mb-4">
                        <label class="block mb-2">Stars</label>
                        <div class="inline-block relative w-64">
                            <select name="stars" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3" selected>3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                    </div>

                    <div class="mb-4">
                        <label class="block mb-2">Content</label>
                        <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="content"></textarea>
                    </div>

                    <div>
                        <button class="bg-green-500 text-white px-4 py-2 rounded">Submit</button>
                    </div>
                </form>
            {% else %}
                <p>Please sign in to add review!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    const updateBtns = document.getElementsByClassName('update-cart');

    for (var i = 0; i < updateBtns.length; i++) {
        updateBtns[i].addEventListener('click', function () {
            var productId = this.dataset.product;
            var action = this.dataset.action;

            if (user == 'AnonymousUser') {
                addCookieItem(productId, action);
            } else {
                updateUserOrder(productId, action);
            }
        });
    }

    function updateUserOrder(productId, action) {
        var url = '{% url "api_add_to_cart" %}';
        if (action == 'remove') {
            url = '{% url "api_remove_from_cart" %}';
        }

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ 'product_id': productId, 'update': action == 'add', 'quantity': 1 })
        })
        .then((response) => response.json())
        .then((data) => {
            if (data.success) {
                showCartMessage();
                updateCartIcon(data.cart_total);
            }
        });
    }

    function addCookieItem(productId, action) {
        if (action == 'add') {
            if (cart[productId] == undefined) {
                cart[productId] = { 'quantity': 1 };
            } else {
                cart[productId]['quantity'] += 1;
            }
        }

        if (action == 'remove') {
            cart[productId]['quantity'] -= 1;
            if (cart[productId]['quantity'] <= 0) {
                delete cart[productId];
            }
        }
        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";
        location.reload();
    }

    function showCartMessage() {
        var cartMessage = document.getElementById('cartMessage');
        cartMessage.style.display = 'block';
        setTimeout(() => {
            cartMessage.style.display = 'none';
        }, 3000); 
    }

    var user = '{{ request.user.username|escapejs }}';
    var cart = JSON.parse('{{ request.COOKIES.cart|default:"{}"|escapejs }}');
</script>
{% endblock %}